.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    color: #000000;
  }
  
  .heading {
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .subheading {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 30px 0 30px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .column {
    flex: 1;
  }
  
  .label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #000000;
  }
  
  .input {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 14px;
    color: #333;
  }
  
  .input::placeholder {
    color: #aaa;
  }
  
  .saveButton {
    width: 30%;
    padding: 10px;
    background-color: #4b0082;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    // text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 20px;
  }
  
  .saveButton:hover {
    background-color: #371d57;
  }
  